<div
  class="rounded-2xl shadow-lg hover:shadow-xl bg-white p-6 cursor-pointer group [&.selected]:bg-green-100 [&.disabled]:bg-yellow-100 hover:bg-slate-100 transition-all relative"
  [ngClass]="{'selected': selected(), 'disabled': disabled()}" (click)="onClick()">

  <div class="absolute top-0 right-0 mt-3 mr-3 group-[.selected]:hover:text-green-700">
    <dashed-check-icon [size]="{width: 20, height: 20}" />
  </div>

  <h2 class="text-xl font-bold text-gray-800 mb-2">{{ subject()?.name }}</h2>
  <p class="text-sm text-gray-500 mb-4">{{ subject()?.code }}</p>

  <div class="space-y-2 text-sm text-gray-700">
    <p><span class="font-medium">Créditos:</span> {{ subject()?.credits }}</p>
    <p><span class="font-medium">Cupo máximo:</span> {{ subject()?.maxStudents }} estudiantes</p>
    <p><span class="font-medium">Profesor:</span> {{ subject()?.professorName }}</p>
    @if (subject()?.description) {
    <p><span class="font-medium">Descripción:</span> {{ subject()?.description }}</p>
    }
  </div>
</div>
